<div class="booyah-box col-10 offset-1">
  <h1 class="text-center">Welcome to My Rails Application</h1>

  <p>This application is brought to you by Daniel Ayala.</p>

  <p>This is a quiz exercise to demonstrate a basic understanding of building Rails web applications. More to come.</p>

  <%= image_tag image_url('coding.jpg'), class: "img-fluid" %>
</div>